.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-list {
    display: flex;
    list-style: none;
}
.list-content {
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;
}

.pt-5 {
    padding-top: 3rem;
}
.bg-dark {
    background-color: #333333;
}